
@{
    ViewBag.Title = "LoginFailed";
}

<h2>Login Failed</h2>

<h2>
    Please try again!
</h2>
@using (Html.BeginForm("Index", "Login"))
{
    <input type="submit" value="Return to Login" class="btn btn-default"/>
    <!--<div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Return to Login" class="btn btn-default"/>
        </div>
    </div>-->
}