
.grid {

    display: inline-grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    border: 1px solid black;
    grid-gap: 1px;
    background: lightgray;
}
.gallery_item{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.grid-item {
    border: 1px solid black;
}