@model List<Minesweeper_Web_Application.Models.GameSquareModel>
<link href="~/Content/GamePage.css" rel="stylesheet" type="text/css" />
@{
    AjaxOptions ajaxOptions = new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "updateInfo",
        OnSuccess = "ajaxSuccess"
    };
}
    <script>
        $(document).ready(function (e)
        {
            $(".updateInfo").each(function (index, item) {
                var url = $(item).data("url");
                if (url && url.length > 0) {
                    (item).load(url);
                }
            }
        });
    </script>
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div style="text-align:center; font-family:Arial; font-size:24pt; font-weight:bold; ">
        @Html.Label("Play a game of MineSweeper")
    </div>
    @using (Ajax.BeginForm("OnButtonClick", "Game", ajaxOptions))
    {
        <div name="updateInfo " class="grid" style="margin-left: 25%; margin-right: 25%;">
            @{

                int num = 0;
                foreach (var i in Model)
                {
                    num++;
                    string index = num.ToString();
                    <figure class="class= grid_item">

                        @if (!@i.Visited)
                        {
                            <button type="submit" name="mine" value=@index>

                                <img src="~/Images/Cover.jpg" alt="Image">
                            </button><br />
                        }
                        else
                        {
                            switch (@i.Reveal)
                            {
                                case 0:
                                    <figure class="gallery_item gallery_item-0">
                                        <img src="~/Images/empty.png" alt="Image">
                                    </figure>
                                    break;
                                case 1:
                                    <figure class="gallery_item gallery_item-1">
                                        <img src="~/Images/ms1.png" alt="Image">
                                    </figure>
                                    break;
                                case 2:
                                    <figure class="gallery_item gallery_item-2">
                                        <img src="~/Images/ms2.png" alt="Image">
                                    </figure>
                                    break;
                                case 3:
                                    <figure class="gallery_item gallery_item-3">
                                        <img src="~/Images/ms3.png" alt="Image">
                                    </figure>
                                    break;
                                case 4:
                                    <figure class="gallery_item gallery_item-4">
                                        <img src="~/Images/ms4.png" alt="Image">
                                    </figure>
                                    break;
                                case 5:
                                    <figure class="gallery_item gallery_item-5">
                                        <img src="~/Images/ms5.png" alt="Image">
                                    </figure>
                                    break;
                                case 6:
                                    <figure class="gallery_item gallery_item-6">
                                        <img src="~/Images/ms6.png" alt="Image">
                                    </figure>
                                    break;
                                case 7:
                                    <figure class="gallery_item gallery_item-7">
                                        <img src="~/Images/ms7.jpg" alt="Image">
                                    </figure>
                                    break;

                                case 8:
                                    <figure class="gallery_item gallery_item-8">
                                        <img src="~/Images/ms8.png" alt="Image">
                                    </figure>
                                    break;
                            }
                        }
                    </figure>




                }


            }

        </div>
    }
    @using (Html.BeginForm("SaveGame", "Game"))
    {
        <input type="submit" value="Save Game" />
    }
</body>
</html>