@model Minesweeper_Web_Application.Models.GameBoardModel
<link href="~/Content/GamePage.css" rel="stylesheet" type="text/css" />

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
</head>
<body>

    <div style="text-align:center; font-family:Arial; font-size:24pt; font-weight:bold; ">
        @Html.Label("Play a game of MineSweeper")
    </div>
    <div class="grid">

        @foreach (var i in ViewBag.revealPosition)
        {

            switch (@i)
            {
                case -1:
                    <figure class="gallery__item gallery__item--1">
                        <img src="~/Images/bomb.png" alt="Image">
                    </figure>
                    break;
                case -0:
                    <figure class="gallery__item gallery__item--1">
                        <img src="~/Images/empty.png" alt="Image">
                    </figure>
                    break;
                case 1:
                    <figure class="gallery__item gallery__item--1">
                        <img src="~/Images/ms1.png" alt="Image">
                    </figure>
                    break;
                case 2:
                    <figure class="gallery__item gallery__item--1">
                        <img src="~/Images/ms2.png" alt="Image">
                    </figure>
                    break;
                case 3:
                    <figure class="gallery__item gallery__item--1">
                        <img src="~/Images/ms3.png" alt="Image">
                    </figure>
                    break;
                case 4:
                    <figure class="gallery__item gallery__item--1">
                        <img src="~/Images/ms4.png" alt="Image">
                    </figure>
                    break;
                case 5:
                    <figure class="gallery__item gallery__item--1">
                        <img src="~/Images/ms5.png" alt="Image">
                    </figure>
                    break;
                case 6:
                    <figure class="gallery__item gallery__item--1">
                        <img src="~/Images/ms6.png" alt="Image">
                    </figure>
                    break;
                case 7:
                    <figure class="gallery__item gallery__item--1">
                        <img src="~/Images/ms7.jpg" alt="Image">
                    </figure>
                    break;

                case 8:
                    <figure class="gallery__item gallery__item--1">
                        <img src="~/Images/ms8.png" alt="Image">
                    </figure>
                    break;
                case 9:
                    <figure class="gallery__item gallery__item--1">
                        <img src="~/Images/Cover.jpg" alt="Image">
                    </figure>
                    break;


            }

        }
    </div>

</body>
</html>