@model List<Minesweeper_Web_Application.Models.GameSquareModel>
<link href="~/Content/GamePage.css" rel="stylesheet" type="text/css" />

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>

    <div name="updateInfo ">
        @Html.Partial("~/Views/Shared/_UpdateGame.cshtml", Model)
    </div>
</body>
</html>