
@{
    ViewBag.Title = "High Scores";
}

<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>HighScores</title>
    <style>
        .headerText{
            text-align: center;
            font-weight: bold;
            font-size: 24px;
        }

        .subHeaderText{
            text-align: center;
            font-size: 18px;
        }
        div {text-align: center;}

        table, th, td{
            border: 1px solid black;
            margin:0 auto;
            text-align: center;
            width: 300px;
        }
    </style>
</head>
@using (Html.BeginForm("MainPage", "Home", FormMethod.Get))
{ 
<div>
    @Html.Label("Minesweeper High Scores", htmlAttributes: new { @class = "headerText" })
    <br />
    @Html.Label("Please check back later for updated scores", htmlAttributes: new { @class = "subHeaderText" })
    <br />
    <div class="form-group">
        <div class="col-md-offset9 col-md90">
            <input type="submit" value="Home Page" class="btn btn-default" />
        </div>
    </div>
    <br />
    @Html.Label("High Scores Leaderboard", htmlAttributes: new { @class = "subHeaderText" })
    <div>

        <!-- updated CSS styling -->
        <style>
            table, th {
                border: 5px solid black;
            }
        </style>

        <table style = "background-color: lightcyan; border: 5px solid black;">
            <tr>
                <th scope="col">Rank</th>
                <th scope="col">Username</th>
                <th scope="col">Score</th>
            </tr>

            <!-- Let's make scores 1, 2, and 3 have gold, silver and bronze displays; other players and the title should be displayed in white -->

            <!-- testing lines; can be edited/commented out once scoring system is implemented -->
            <!-- score 1-->
            <tr style="background-color: gold">
                <td scope="col">Test1</td>
                <td scope="col">Player1</td>
                <td scope="col">50000</td>
            </tr>

            <!-- score 2 -->
            <tr style="background-color: silver">
                <td scope="col">Test2</td>
                <td scope="col">Player2</td>
                <td scope="col">45000</td>
            </tr>

            <!-- score 3 -->
            <tr style="background-color: #cd7f32">
                <td scope="col">Test3</td>
                <td scope="col">Player3</td>
                <td scope="col">40000</td>
            </tr>

            <!-- score 4 -->
            <tr>
                <td scope="col">Test4</td>
                <td scope="col">Player4</td>
                <td scope="col">25000</td>
            </tr>
        </table>
    </div>
</div>
}